* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  color: white;
}

h1 {
  font-size: 3.75rem;
  line-height: 1.3;
}

h2 {
  font-size: 2.25rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;

  margin: 0.5rem;
}

.flex-item {
  flex-basis: 100%;
  text-align: center;
}

.label {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2;
}

.scroll-container {
  overflow-y: scroll;
}

.error {
  background-color: red;
  color: white;
}